@font-face {
  font-family: 'Inter UI';
  src: url("/fonts/Inter-UI-Regular.woff") format("woff");
  font-weight: regular
}

@font-face {
  font-family: 'Inter UI';
  src: url("/fonts/Inter-UI-Medium.woff") format("woff");
  font-weight: 500
}

@font-face {
  font-family: 'Inter UI';
  src: url("/fonts/Inter-UI-Bold.woff") format("woff");
  font-weight: 700
}

html,
body {
  margin: 0;
  font-family: "Inter UI";
}

/* imported from the main beaker site */

.header {
    width: 100%;
    padding: 30px 0
}

.header a {
  color: #5543ff;
  text-decoration: none;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between
}

.beaker-link {
  display: inline-flex;
  align-items: center
}

.beaker-link .logo {
  width: 30px;
  height: 30px;
  margin-right: 7px
}

.beaker-link .wordmark {
  font-weight: 700 !important;
  font-size: 26px;
  letter-spacing: .4px;
  line-height: 1
}

.header .nav-link {
  display: inline-block;
  margin-left: 10px;
  font-size: .9rem;
  font-weight: 600;
  text-decoration: none;
}

.header .nav-link.btn {
  justify-content: center;
  font-size: .9rem;
  font-weight: 600;
  line-height: 30px;
  padding: 0 15px;
  border: 1px solid;
  border-radius: 40px;
  cursor: pointer;
  text-align: center;
  margin-left: 30px;
}

.header .nav-link:not(.btn) {
    margin-left: 30px
}

.header .nav-link:not(.btn):hover {
    text-decoration: underline
}

.header .nav-link:first-of-type {
    margin-left: 0
}

@media (max-width: 650px) {
  .header {
    padding-bottom: 10px;
  }

  .header .container {
    flex-direction: column;
  }

  .header nav {
    padding-top: 20px;
  }

  .header .nav-link.btn {
    display: none;
  }
}

.container {
    width: 95%;
    max-width: 1050px;
    margin: auto;
    padding: 0 10px
}

@media (min-width: 700px) {
    .container {
        padding:0
    }
}

@media (min-width: 700px) {
    .container {
        width:90%
    }
}

/* explore page */

.subheader,
#content {
  margin: 0px auto;
  margin-bottom: 10px;
}

.subheader {
  margin-top: 30px;
}

.subheader nav {
  display: flex;
}
@media (max-width: 800px) {
  .subheader nav {
    display: none;
  }
}

.subheader nav a {
  margin-right: 10px;
  padding: 5px 15px;
  text-decoration: none;
  color: #333;
  border-radius: 4px;
}

.subheader nav a:hover {
  background: #eee;
}

.subheader nav a.current {
  background: #000;
  color: #fff;
}

.entries {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(210px, 2fr));
}
.entries.space2x {
  grid-gap: 20px;
}

@media (max-width: 560px) {
  .entries {
    grid-template-columns: auto;
  }
}

.entries.dashborder {
  border: 1px dashed #ccc;
  padding: 10px;
}

.content {
  display: none;
}

.content.current {
  display: block;
}
.content.entries.current {
  display: grid;
}

/* grid regions */

.col2 {
  grid-column: auto / span 2;
}

.col3 {
  grid-column: auto / span 3;
}

.col4 {
  grid-column: auto / span 4;
}

.col6 {
  grid-column: auto / span 6;
}

@media (max-width: 980px) {
  .col2,
  .col4 {
    grid-column: auto / span 3;
  }
}

@media (max-width: 730px) {
  .col2,
  .col3,
  .col4 {
    grid-column: auto / span 2;
  }
}

@media (max-width: 560px) {
  .col2,
  .col3,
  .col4 {
    grid-column: auto / span 1;
  }
}

.row2 {
  grid-row: auto / span 2;
}

.row3 {
  grid-row: auto / span 3;
}

/* elements */

.record {
  color: red;
  font-size: 45px;
  line-height: 0;
  position: relative;
  top: 7px;
}

.extra-title {
  color: #5543ff;
  text-transform: uppercase;
  font-size: .9rem;
  font-weight: 500;
  letter-spacing: .65px;
}

/* headings */

h2.heading {
  font-weight: 400;
  letter-spacing: 0.5px;
  font-size: 21px;
  padding: 0 4px;
}

h3.heading {
  font-weight: 400;
  letter-spacing: 0.5px;
  padding: 9px 16px;
  font-size: 17px;
  border-radius: 4px;
  background: #eee;
}
h3.heading.green {
  background: #e8f1e2;
  color: #397139;
}
h3.heading.orange {
  background: #f1e4e2;
  color: #d8470b;
}

/* entries */

.entry {
  position: relative;
  display: block;
  color: #333;
  text-decoration: none;
  border-radius: 4px;
}

a.entry:hover {
  background: #f5f5f5;
}

.entry-content > * {
  max-width: 100%;
}

.entry-img {
  display: block;
  margin: 0 auto;
  max-height: 220px;
  object-fit: cover;
  border-radius: 4px;
}
.entry-img.border {
  border: 1px solid rgba(0,0,0,0.25);
}

.entry-icon {
  font-size: 80px;
  text-align: center;
  margin: 20px 0;
}

.entry-title {
  padding: 0 1rem;
}

.entry-description {
  padding: 0 1rem;
}

/* custom classes */

.entry.category .fas,
.entry.category .far {
  float: right;
}

.entry.adder .entry-img {
  border: 0 !important;
}

.entry.adder .entry-title {
  color: #0000ffc4;
}

.entry.big .entry-content {
  padding: 130px 10px 0;
}

.entry.big h3 {
  font-size: 50px;
  margin: 0;
}

.entry.medbig .entry-content {
  padding: 20px 0;
}

.entry.medbig h3 {
  font-size: 40px;
  margin: 0;
}

.entry.border {
  border: 2px solid #555;
}

.entry.border:hover {
  border: 2px solid #111;
  background: #eee;
}

.entry.darkborder {
  border: 2px solid #000;
}

@media (max-width: 539px) {
  .entry.horz .entry-img {
    padding-top: 20px;
    margin: 0 auto;
  }
}

@media (min-width: 540px) {
  .entry.horz .entry-content {
    display: flex;
    height: 100%;
    padding-bottom: 0;
  }

  .entry.horz .entry-img {
    max-height: none;
  }

  .entry.horz .entry-desc {
    flex: 1;
  }
}

.entry.toppad {
  padding-top: 1rem;
}

.entry.toppad2x {
  padding-top: 2rem;
}

@media (max-width: 559px) {
  .entry.stretch .entry-img {
    padding-top: 20px;
  }
}

@media (min-width: 560px) {
  .entry.stretch .entry-img {
    width: 100%;
  }
}

.entry.fixheight .entry-img {
  height: 150px;
}

.entry.bigfixheight .entry-img {
  height: 200px;
}

.entry.sep .entry-desc {
  border-top: 1px solid #ccc;
}


.entry.livestream:hover .entry-title {
  text-decoration: none;
}

/*
.entry-content[data-label]:before {
  content: attr(data-label);
  display: block;
  color: #fff;
  background: #000;
  padding: 0px 3px;
  font-size: 12px;
  font-family: monospace;
}
*/

/* color modifiers */


.entry.gray {
  background: #ddd;
}
.entry.gray:hover {
  background: #d0d0d0;
}

.entry.lightgray {
  background: #eaeaea;
  color: #222;
}

.entry.darkgray {
  background: #333;
  color: #fff;
}

.entry.pink {
  background: #da004a;
  color: #fff;
}
.entry-title.pink {
  color: #da004a;
}
nav a.pink:hover {
  color: #da004a;
}
nav a.pink.current {
  color: #fff;
  background: #da004a;
}

.entry.green {
  background: #489805;
  color: #ffffff;
}
.entry-title.green {
  color: #489805;
}
nav a.green:hover {
  color: #489805;
}
nav a.green.current {
  background: #489805;
  color: #fff;
}

.entry.blue {
  background: #5543ff;
  color: #fff;
}
.entry-title.blue {
  color: #5543ff;
}
nav a.blue:hover {
  color: #5543ff;
}
nav a.blue.current {
  background: #5543ff;  
  color: #fff;
}

.entry.purple {
  background: #ae23c3;
  color: #fff;
}
.entry-title.purple {
  color: #ae23c3;
}
nav a.purple:hover {
  color: #ae23c3;
}
nav a.purple.current {
  background: #ae23c3;
  color: #fff;
}

.entry.orange {
  background: #ef5200;
  color: #fff;
}
.entry-title.orange {
  color: #ef5200;
}
nav a.orange:hover {
  color: #ef5200;
}
nav a.orange.current {
  background: #ef5200;  
  color: #fff;
}

/* dat support modifier */

.nodat .entry[href^="dat://"]:hover .entry-content {
  position: relative;
  opacity: 0.25;
}

.nodat .entry[href^="dat://"]:hover:before {
  content: 'Requires the Beaker browser to view';
  position: absolute;
  top: 0;
  left: 0;
  background: #111;
  color: #fff;
  padding: 10px;
  z-index: 1;
  font-size: 12px;
}

/* articles */

.entry.article.horz .entry-img {
  width: 250px;
  height: 280px;
}

.entry.article.horz .entry-desc {
  padding: 10px 6px;
}

.entry.article.horz .entry-title {
  padding-bottom: 12px;
}

/* profiles */

.entries.profiles {
  grid-template-columns: repeat(auto-fill, minmax(150px, 2fr));
}

.entry.profile {
  text-align: center;
  padding: 20px 0 0;
}

.entry.profile .entry-img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 1px solid rgba(0,0,0,.5);
}

/* guides */


.guide {
  grid-column: auto / span 4;
  padding: 40px 0;
}

.guide .entry-content {
  align-items: center;
}

.guide .entry-img {
  margin: 0 50px;
  width: 150px;
}

@media (max-width: 550px) {
  .guide .entry-img {
    margin: 0;
    padding-bottom: 20px;
    padding-top: 0 !important;
  }
}

.guide .entry-desc {
  max-width: 500px;
}

.guide .entry-desc > :first-child {
  margin-top: 0;
}

.guide .entry-desc > :last-child {
  margin-bottom: 0;
}

.guide.adder {
  padding: 40px 0;
}